@page "/"
@inherits PlayersBase
@attribute [Authorize(Roles = "User")]

<AuthorizeView Roles="User">
    <Authorized>
        <h4>
            <span><b> You are authorized as @context.User.Identity.Name </b></span>
        </h4>
    </Authorized>
    <NotAuthorized>
        <span>You're not authorized, buddy.</span>
    </NotAuthorized>
</AuthorizeView>

@if (Players == null && ErrorMessage == null)
{
    <h3>Loading Players...</h3>
    <DisplaySpinner/>
}
else if(ErrorMessage != null)
{
         <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    var playerCount = Players.Count();

    @if(playerCount > 0)
    {
        <br />
        <div class="btn-group-sm">
            <button class="btn btn-primary" type="submit"
            @onclick="() => SortingPlayersByNationaity()">
                <b>
                    Sort Players by Nationaity
                </b>
            </button>
            <button class="btn btn-primary" type="submit"
            @onclick="async () => SortingPlayersAscending()">
                <b>
                    Sort Players by Market Value Ascending <i class="bi bi-sort-up"></i>
                </b>
            </button>
            <button class="btn btn-primary" type="submit"
            @onclick="async () => SortingPlayersDescending()">
                <b>Sort Players by Market Value Descending</b>
            </button>
            <input class="border-4" @bind-value="@SearchName"
           @bind-value:event="oninput" placeholder="Search by name" 
            />
        </div>
        <br />
        <h2 class="mb-5"><b>Players</b></h2>

        @if(SearchName == String.Empty && SortedPlayers == null)
        {
            @foreach (var playerGroup in GetGroupedPlayersByNationality())
            {
                <h4><b>@GetNationalityName(playerGroup)</b></h4>
                <div class="row mt-3">
                    <DisplayPlayer Players="@playerGroup"></DisplayPlayer>
                </div>
                <hr class="mb-3">
            }
        }
        else if(SearchName != String.Empty)
        {
            <div class="row mt-3">
                <DisplayPlayer Players="@FilteredPlayers"></DisplayPlayer>
            </div>            
        } 
        else
        {
            <div class="row mt-3">
                <DisplayPlayer Players="@SortedPlayers"></DisplayPlayer>
            </div>
        } 
    }
}

