@page "/"
@inherits PlayersBase
@attribute [Authorize(Roles = "User")]

<AuthorizeView Roles="User">
    <Authorized>
        <span><b> You are authorized as @context.User.Identity.Name </b></span>
    </Authorized>
    <NotAuthorized>
        <span>You're not authorized, buddy.</span>
    </NotAuthorized>
</AuthorizeView>

@if (Players == null && ErrorMessage == null)
{
    <h3>Loading Players...</h3>
    <DisplaySpinner/>
}
else if(ErrorMessage != null)
{
         <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    <h2 class="mb-5"><b>Players</b></h2>
    var playerCount = Players.Count();

    @if(playerCount > 0)
    {
        <div class="text-center">
            <input class="border-4" @bind-value="@SearchName"
            @bind-value:event="oninput" placeholder="Search by name" 
            />
        </div>

        @if(SearchName == String.Empty)
        {
            @foreach (var playerGroup in GetGroupedPlayersByNationality())
            {
                <h4><b>@GetNationalityName(playerGroup)</b></h4>
                <div class="row mt-3">
                    <DisplayPlayer Players="@playerGroup"></DisplayPlayer>
                </div>
                <hr class="mb-3">
            }
        }
        else
        {
            <div class="row mt-3">
                <DisplayPlayer Players="@FilteredPlayers"></DisplayPlayer>
            </div>            
        }          
    }
}

