@page "/PlayerDetails/{Id:int}"
@inherits PlayerDetailsBase
@attribute [Authorize(Roles = "User")]

<AuthorizeView Roles="User">
    <Authorized>
        <span><b> You are authorized as @context.User.Identity.Name </b></span>
    </Authorized>
    <NotAuthorized>
        <span>You're not authorized, buddy.</span>
    </NotAuthorized>
</AuthorizeView>

@if (Player == null && ErrorMessage == null)
{
    <DisplaySpinner/>
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    <h3 class="mb-5 text-center"><b>Player Details</b></h3>
    <div class="row">
        <div class="col-md-6 mb-4">
            <img class="img-fluid" src="@Player.ImageURL">
        </div>
        <div class="col-md-6">
            <h3><b>@Player.Name</b></h3>
            <p class="mb-4">Age: @Player.Age</p>
            <p class="mb-4">Raiting: @Player.Raiting</p>
            <p class="mb-4">Position: @Player.Position</p>
            <p class="mb-4">
                <b> 
                    @Player.MarketValue.ToString("C")&nbsp;(@Player.Qty players on market)
                </b>
            </p>
            <div>
                <button class="btn-success"
                @onclick ="()=>AddToCoach_Click(new UserPlayerToAddDto{
                    UserId = HardCoded.UserId,
                    PlayerId = Player.Id,
                    Qty = 1
                })">
                    <b>Add to Coach Squad</b>
                </button>
            </div>
        </div>
    </div>

}