@page "/User"
@inherits UserBase
@attribute [Authorize(Roles = "User")]

<AuthorizeView Roles="User">
    <Authorized>
        <span><b> You are authorized as @context.User.Identity.Name </b></span>
    </Authorized>
    <NotAuthorized>
        <span>You're not authorized, buddy.</span>
    </NotAuthorized>
</AuthorizeView>

@if (UserPlayers == null && ErrorMessage == null)
{
    <DisplaySpinner></DisplaySpinner>
}
else if(ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    <h3 class="mb-5"><b>Your Squad:</b></h3>
    @if (UserPlayers.Count() > 0)
    {
    <div class = "row mb-5">
        <div class ="col-md-9">
                @foreach (var player in UserPlayers)
            {
                <div class="row mb-4">
                    <div class="col-md-4">
                        <img src="@player.PlayerImageURL" width="300" class="img-thumbnail">
                    </div>
                    <div class = "col-md-8">
                        <h5><b>@player.PlayerName</b></h5>
                        <div class="mb-4">Age: @player.PlayerAge</div>
                        <div class="mb-4"> Raiting: @player.PlayerRaiting</div>                       
                        <div class="mb-4" > Position:
                            <RadzenDropDown Placeholder="Select..." TValue="string"
                                Data="@player.Position.ToString().Split(",")"
                                Change="@OnChange" />
                            <button class="btn btn-outline-success" @onclick="()=>OnClickPositionChange(player.PlayerId)">
                                <b>Change Position</b>
                            </button>                                
                        </div>
                        <span>
                            Market Value: <b>@player.MarketValue.ToString("C")</b>
                            <input @oninput ="()=>UpdateQty_Input(player.Id)"
                            type="number" @bind = "@player.Qty"/>
                            <button data-playerId="@player.Id" class="btn btn-info btn-sm update-qty"
                            @onclick ="(()=> UpdateQtyUserPlayer_Click(player.Id, player.Qty))"
                            >Update Qty</button>
                        </span>
                        <div>
                            <button @onclick ="(() => DeleteUserPlayer_Click(player.Id))"
                            class="btn btn-danger sm"><i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-3">
            <h5>User Summary</h5>
            <div class="mt-2">
                <div>
                    Total - (@TotalQuantity players)&nbsp<b>@TotalValue</b>
                    <br/>
                        Wallet: @WalletValue.ToString("C")
                </div>
                <a href="#" class="btn btn-success">
                    <span class="fa fa-check"></span>&nbsp; Proceed to Checkout 
                </a>
            </div>
        </div>
    </div>
    }
    else
    {
        <h4>There are currently no players in your squad!
            <br/>
            Wallet: @WalletValue.ToString("C")
        </h4>
    }

}
